<!-- NavBar -->
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link" routerLink="#">Mon comptes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="#">Les règles</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="">Scénarios</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/mesbandes" routerLinkActive="active">Mes bandes</a>
  </li>
  <li class="nav-item">
    <a routerLink="/accueil" routerLinkActive="active">
      <img width="40" alt="mordheim logo"
        src="/assets/img/logo_petit_blanc.png" />
    </a>
  </li>
</ul>


<router-outlet></router-outlet>
