.bande-list {
  background-color: gray;
  color: white;
  padding-top: 90px;
  width: 250px;
  min-height: 100vh;
  text-align: center;
}

ul {
  padding-top: 20px;
}

li {
  padding-top: 30px;
  font-family: 'Open Sans', sans-serif;
}
