/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Stylex";
  src: url("/assets/fonts/EnchantedLand.otf");
 }

body {
  background-color: rgb(228, 228, 228);
}



